
.links{
  position:relative;
  left:1000px;
  size:30px;
  font-size:25px;
  color:white;
  text-decoration: none;
  display: inline-block;
}
.chinchan{
  height:80px;
  width:80px;
  border-radius: 500px;
  background-color:black;
  border-color: black;
  border-width: 20px;
  position:relative;
  margin-top: 10px;
  margin-left: 20px;
}
a{
  text-decoration: none;
  color:#4FA095;
  font-style: italic;
}
.div{
  background-color: #DEFCF9;
}
.div1{
  background-color: #DEFCF9;
  height:150px;
}
.div2{
  font-family:'merriweather',serif;
  color:black:
  margin:0 auto 0 auto;
  font-size:20px;
}
.div3{
  text-align: center;
  margin-left: 350px;
  margin-top: 20px;
  display: inline-block;
  position: relative;
  font-size: 1.2rem;
  line-height: 1;
  width:50%;
}
.div4{
  text-align: center;
  margin-left:350px;
  display: inline-block;
  position: relative;
  font-size: 1.2rem;
  line-height: 1;
  width:50%;
  margin-top:30px;
  margin-bottom: 30px;
}
.div5{
  background-color: #DEFCF9;
  margin-top: 30px;
  font-size:1.2rem;
  color:#4FA095;
}
.Schinchan{
  margin-left: 10px;
  border-radius: 100px;
  text-align:center;
  height:100px;
  width:100px;
}
.img-right{
  border-radius: 100px;
  height:100px;
  width:100px;
  float:left;
  text-align: left;
  margin-top: 30px;
  margin-left: 20px;
}
.img-left{
  border-radius: 100px;
  height:100px;
  width:100px;
  float:right;
  text-align: right;
  margin-top: 30px;
  margin-right: 20px;
}
.cloud{
  position:relative;
  left:900px;
  top:50px;
}
hr{
  border-style: dotted none none;
  border-color: grey;
  border-width: 5px;
  width:5%
}
.p{
  color:#4FA095;
  font-size: 23px;

  margin-top: 0px;
}
h1{
  margin-top:0;
  color:#4FA095;
  font-size:50px;
  font-family:'sacramentro',cursive;
display: inline-block;
  margin-bottom:5px;
}
h2{
  color: #4FA095;
  font-family:'montserrant',sans-serif;
  margin-top: 20px;
}
.paragraph2{
  display: inline-block;
  width:500px;
  text-align:right;
  margin-top: 30px;


}
.paragraph{
  display: inline-block;
  width:500px;
  text-align:left;
}
.can-help{
  margin:auto;
  text-align: center;
  width:50%;
  margin-top:30px;
  font-size:1.2rem;

}
.btn {
  background: #4FA095;
  background-image: -webkit-linear-gradient(top, #4FA095, #4FA095);
  background-image: -moz-linear-gradient(top, #4FA095, #4FA095);
  background-image: -ms-linear-gradient(top, #4FA095, #4FA095);
  background-image: -o-linear-gradient(top, #4FA095, #4FA095);
  background-image: linear-gradient(to bottom, #4FA095, #4FA095);
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0px;
  font-family:'montserrant',sans-serif;
  color: #ffffff;
  font-size: 27px;
  padding: 10px 100px 10px 100px;
  border: solid #4FA095 2px;
  text-decoration: none;
}

.btn:hover {
  background: #4FA095;
  background-image: -webkit-linear-gradient(top, #4FA095, #4FA095);
  background-image: -moz-linear-gradient(top, #4FA095, #4FA095);
  background-image: -ms-linear-gradient(top, #4FA095, #4FA095);
  background-image: -o-linear-gradient(top, #4FA095, #4FA095);
  background-image: linear-gradient(to bottom, #4FA095, #4FA095);
  text-decoration: none;
}
